html, body {
  background-color: #e7e7e7;
}

* {
  font-family: "Raleway";
}

hr {
  border-color: #ccc;
}

.panel-body {
  font-size: 18px;
}

.navbar-default {
  background-color: #fff;
  border: 0;
}

.navbar-nav>.active a {
  font-weight: bold;
  background-color: #fff !important;
}

.glyphicon.step {
  margin-right: 8px;
}

nav.navbar {
  margin-bottom: 0;
}

.page-header {
  margin-top: 0;
  border-color: #ccc;
}

.list-group-item.active {
  background-color: #fff;
  color: #333;
  font-weight: bold;
  border-color: #ddd;
  border-right: 4px solid #6699dd;
}

.list-group.main {
  box-shadow: 1px 1px 1px #ccc;
}

.list-group.main>.list-group-item {
  font-size: 16px;
}

.box {
  box-shadow: 1px 1px 1px #ccc;
  padding: 0;
  margin-bottom: 16px;
}

.box a {
  color: #333;
}

.box .box-body {
  border-radius: 0 0 3px 3px;
  background-color: #fff;
  padding: 16px;
}

.box .box-body>h1 {
  font-size: 20px;
  margin: 0px;
  text-align: center;
  font-weight: bold;
}

.box .box-thumbnail {
  border-radius: 3px 3px 0 0;
  width: 100%;
}

.box-alt {
  padding: 0;
  margin-bottom: 16px;
}

.box-alt .box-body {
  text-align: center;
}

.box-alt .box-jumbo {
  text-align: center;
  font-size: 46px;
}

.playlist-item {
  background-color: #fff;
  border: 1px #ddd solid;
  border-radius: 5px;
}

.playlist-item-body {
  padding: 16px;
}

.playlist-item>.progress {
  height: 4px;
  border-radius: 0 0 5px 5px;
}
