.panel-body {
  font-size: 18px;
}

.navbar-default {
  background-color: #fff;
  border: 0;
  font-size: 20px;
}

.glyphicon.step {
  margin-right: 8px;
}

.page-header {
  margin-top: 0;
  border-color: #ccc;
}

.list-group-item.active {
  background-color: #fff;
  color: #333;
  font-weight: bold;
  border-right-width: 4px;
}

.list-group.main {
  border-radius: @border-radius-base;
  border-bottom: 2px #ccc solid;
}

.list-group.main > .list-group-item {
  font-size: 16px;
}
