.container {
  margin-top: 24px;
  &.content {
    margin-top: 32px;
  }
}
.container-fluid.content {
  margin-top: 24px;
}

.panel-body {
  font-size: 18px;
}

.navbar-default {
  background-color: #fff;
  border: 0;
  font-size: 20px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.glyphicon.step {
  margin-right: 8px;
}

.page-header {
  margin-top: 0;
  border-color: #ccc;
}

.list-group-item.active {
  background-color: #fff;
  color: #333;
  font-weight: bold;
  border-right-width: 4px;
}

.list-group.main {
  border-radius: @border-radius-base;
  border-bottom: 2px #ccc solid;
}

.list-group.main > .list-group-item {
  font-size: 16px;
}

.navbar-nav > li {
  & > a.active {
    color: #333 !important;
    // border-bottom: 3px solid;
    box-sizing: border-box;
    font-weight: bold;
  }

  & > a {
    line-height: 40px;
    text-transform: uppercase;
  }
}

.navbar {
    position: relative;

    &.navbar-fixed-top {
      position: fixed;
    }
}

.brand {
    position: absolute;
    left: 50%;
    margin-left: -141px !important;  /* 50% of your logo width */
    display: block;
    line-height: 40px;
    padding: 14px;
    
    & > img {
      height: 40px;
    }

    @media @smartphones {
      height: 100%;
      margin-left: -84px !important;

      img {
        height: 22px;
        vertical-align: top;
      }
    }
}

.box {
  &.blue {
    border-bottom-color: #6699dd;
  }
}

.document-toolbar {
  background: #fff;
  border-bottom: 1px solid #e8e8e8;
}

.document-sidebar {
  & img {
    border-radius: 0 !important;
  }

  & .box  {
    margin: 0;
    border-radius: 0;
  }

  & .box * {
    margin: 0;
    border-radius: 0;
  }

  & .playlist, & .playlist-item {
    border-radius: 0 !important;
  }

  & .playlist {
    border: none;
  }
}

.document-badge {
  border-radius: 5px;
  padding: 8px;
  padding-top: 92px;
  border-bottom: 2px @app-border-color-dark solid;
  background-color: rgba(255, 255, 255, 0.2);

  .backgrounded {
    border-radius: 5px;
    z-index: -1;
  }

  small {
    text-transform: uppercase;
    font-size: 14px;
  }

  h4 {
    margin: 0;
    padding: 0;
    font-weight: bold;
  }
}

.document-body {
  padding: 20px;
  color: rgb(119, 119, 119);
  font-size: 20px !important;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  border-bottom: 2px @app-border-color-dark solid;

  & h1 {
    border-bottom: 1px solid #d9d9d9;
    width: 100%;
    font-size: 36px;
    margin-bottom: 20px;
    text-align: left;
    margin-top: 0px;
  }

  & p {
    margin-top: 25px;
    padding: 0px 10px;
    font-weight: 300;
    text-align: justify;
    line-height: 25px !important;
  }

  & img {
    height: 300px;
  }
}

.appunta-bg {
  position: relative;

  &:before {
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.4;
      background: url('http://24.media.tumblr.com/fbb9b866b6fae08df0a37b56a82a1f37/tumblr_myqp2kubMm1svrh8zo2_1280.jpg');
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover;
    }
}

.no-padding {
  padding: 0px !important;
}