.box {
  padding: 0;
  margin-bottom: 16px;
  border-bottom: 2px @box-border-color-dark solid;
  border-radius: 3px 3px 3px 3px;

  a {
    color: #333;
  }
  .box-body {
    border-radius: 0 0 3px 3px;
    background-color: #fff;
    padding: 16px;
    h1 {
      font-size: 20px;
      margin: 0px;
      text-align: center;
      font-weight: bold;
    }
  }
  .box-thumbnail {
    border-radius: 3px 3px 0 0;
    width: 100%;
  }
}

.box-alt {
  padding: 0;
  margin-bottom: 16px;

  .box-jumbo {
    text-align: center;
    font-size: 52px;
  }
  .box-body {
    text-align: center;
  }
}
