@body-color: #e8ebef;
@app-border-color: #ccc;
@app-border-color-dark: #ccc;

@playlist-border-color: #ddd;
@playlist-border-color-dark: @app-border-color-dark;
@playlist-tag-color: #999;

@box-border-color: #ddd;
@box-border-color-dark: @app-border-color-dark;

@smartphones: ~"only screen and (max-width: 767px)";
